<!DOCTYPE html>
{% extends 'home.html' %}
{% block bodyblock %}
<div class="page-header text-center">
  <h1>Customer information</h1>
</div>
<table class="table table-striped table-hover">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone Number</th>
  </thead>
  {% for customer in customer_info %}
  <tr>
    <th scope="col">{{customer.id}}</th>
    <td>{{customer.name}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.phone_num}}</td>
  </tr>
  {% endfor %}
</table>


{% endblock %}
